@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.bgBarraModal{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 24px;
}

.containerBarraModal{
    background-color: white;
    width: 250px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.containerBarraModal div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.containerBarraModal a{
    text-decoration: none;
    color: black;
}

.containerBarraModal .containerPerfil{
    font-size: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 0.5px gray;
    
}

.containerBarraModal .containerPerfil p {
    padding-left: 30px;
    color: rgb(0, 0, 0);
}

.containerBarraModal .containerPerfil .fotoPerfil{
    width: 70px;
    height: 70px;
    border-radius: 360px;

}